<footer>
  <div class="footer-content">
    <div id="logo" class="footer-logo mt-5">
      <h1><span class="highlight text-center">Shaves</span> & Trims</h1>
    </div>
    <div class="footer-headings">
      <p>About</p>
      <p>Communities</p>
      <p>Services</p>
    </div>
    <div class="footer-initiatives">
      <p>CSR</p>
      <p>Support</p>
      <p>Projects</p>
      <p>Initiatives</p>
      <p>Media</p>
      <p>Jobs</p>
      <p>Profile</p>
    </div>
    <div class="footer-icons">
      <i class="fab fa-facebook fa-2x"></i>
      <i class="fab fa-twitter fa-2x"></i>
      <i class="fab fa-linkedin fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-google-plus fa-2x"></i>
    </div>
  </div>
  
</footer>