<!-- As a link -->
<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KUTZ</a>
    </div>
    <ul class="nav-elements">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Book Appointment</a></li>
        <li><a href="#">Get In Touch</a></li>
    </ul>
  </nav> -->

  <header>
    <div id="logo">
      <h1><span class="highlight">Shaves</span> & Trims</h1>
    </div>
    <nav>
      <ul>
        <li class="list-link"><a href="/" class="links">Home</a></li>
        <li class="list-link"><a href="/services" class="links">Services</a></li>
        <li class="list-link"><a href="/location" class="links"><i class="fas fa-map-marker-alt px-2"></i>Kenya</a></li>
        <li class="list-link"><a href="/contact" class="links">Contact Us</a></li>
        <li class="list-link"><a href="/login" class="links" id="sign">Sign In</a></li>
      </ul>
    </nav>
  </header>
  
  