<!-- As a link -->
<!-- <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KUTZ</a>
    </div>
    <ul class="nav-elements">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Book Appointment</a></li>
        <li><a href="#">Get In Touch</a></li>
    </ul>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" id="logo"><h1><span class="highlight">Shaves</span> & Trims</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active list-link" aria-current="page" href="/">Home</a>
          <a class="nav-link list-link" href="/location"><i class="fas fa-map-marker-alt px-2"></i>Kenya</a>
          <a class="nav-link list-link" href="/login" id="sign">Sign In</a>
          <!-- <a class="nav-link list-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>



  <!-- <header>
    <div id="logo">
      <h1><span class="highlight">Shaves</span> & Trims</h1>
    </div>
    <nav>
      <ul>
        <li class="list-link"><a href="/" class="links">Home</a></li>
        <li class="list-link"><a href="/services" class="links">Services</a></li>
        <li class="list-link"><a href="/location" class="links"><i class="fas fa-map-marker-alt px-2"></i>Kenya</a></li>
        <li class="list-link"><a href="/contact" class="links">Contact Us</a></li>
        <li class="list-link"><a href="/login" class="links" id="sign">Sign In</a></li>
      </ul>
    </nav>
  </header> -->
 
  
  