<!-- As a link -->
<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KUTZ</a>
    </div>
    <ul class="nav-elements">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Book Appointment</a></li>
        <li><a href="#">Get In Touch</a></li>
    </ul>
  </nav>
  
  