<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/scissors.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://md-aqil.github.io/images/swiper.min.css">
    <link rel="stylesheet" href="/app.css" type="text/css">
    <title><%= title  %> </title>
</head>

<body>
   <%- include('./partials/nav.ejs') %>
   <section id="landing_page" class="row">
    <div class="col-md-8" id="left_view">
      <div class="container cont">
        <div class="header-content flex-colunm">
            <p class="mb-4 sc-text">2021 SPECIAL CAMPAIGN</p>
            <p class="content-header">AWARD <i class="fab fa-youtube"></i></p>
            <p class="content-header">WINNING <i class="fas fa-heart"></i></p>
            <p class="content-header">BARBERSHOP</p>
            <div class="d-flex mt-5 justify-content-between" id="btn-div">
                <button class="p-3 bt bt-col">Make Appointment</button>
                <button class="p-3 bt bt-white"><i class="fas fa-phone"></i> +254 705 977 072</button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4" id="right_view">
        <div class="player">
            <video class="player__video viewer" src="/videos/promo.mp4" autoplay></video>
        
            <div class="player__controls">
              <div class="progress">
                <div class="progress__filled"></div>
              </div>
              <button class="player__button toggle" title="Toggle Play">►</button>
              <input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05" value="1">
              <input type="range" name="playbackRate" class="player__slider" min="0.5" max="2" step="0.1" value="1">
              <button data-skip="-10" class="player__button">« 10s</button>
              <button data-skip="25" class="player__button">25s »</button>
            </div>
          </div>
    </div>
   </section>

   <!--Our Services Section-->
   <section id="our_services" class="mt-3 p-3">
     <div class="header-section d-flex flex-column text-center">
       <p class="head-paragraph">LUXURY SERVICES</p>
       <h3 class="head-heading">Our Services</h3>
       <p class="head-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolorem nulla culpa.<br> Quasi fuga cum ipsam illo alias, exercitationem id?.</p>
     </div>
     <div class="image-section container mt-5">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="/images/pexels-mídia-897251.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center p-4">
              <h5 class="card-title">Buzz cut</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis perferendis pariatur veritatis repudiandae laborum tempore fuga doloribus vitae facere sed.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/pexels-nick-demou-1319461.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center p-4">
              <h5 class="card-title">Casual haircut</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil assumenda natus doloribus cum corrupti blanditiis recusandae totam ipsam reiciendis perferendis?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/black.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center p-4">
              <h5 class="card-title">Hair treatment</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi saepe corrupti minima dolorum quis iure voluptatem mollitia nam ipsam voluptatum.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/pexels-thgusstavo-santana-1813272.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center p-4">
              <h5 class="card-title">Facial treatment</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi saepe corrupti minima dolorum quis iure voluptatem mollitia nam ipsam voluptatum.</p>
            </div>
          </div>
        </div>
      </div>
     </div>
   </section>

   <!--About-->
   <section id="about_section">
     <div class="row container">
       <div class="col-md-6">
         <div class="d-flex flex-column p-4" id="about_cont">
          <p class="head-paragraph-about">ABOUT SHAVES & TRIMZ</p>
          <p class="content-header-about">A SMOOTH BARBER EXPERIENCE</p>
          <p class="head-text-about">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit delectus sapiente alias esse eum obcaecati voluptate! Fuga, eos aliquid numquam magni a dolores modi iste autem voluptatum sapiente expedita voluptates aspernatur. Corrupti, tenetur magni! Laudantium dolores sapiente perspiciatis illum vel.</p>
          <button class="p-3 bt bt-col mt-3">Learn more</button>
         </div>
       </div>
       <div class="col-md-6" id="about-img">
        <img src="/images/pexels-thgusstavo-santana-1813272.jpg"  alt="photo unavailable" class="img-fluid">  
       </div>
     </div>
   </section>

   <!--Team-->
<section id ="team" class="mb-3">
  <div class="header-section d-flex flex-column text-center">
    <p class="head-paragraph">TEAM</p>
    <h3 class="head-heading">Our Expert Team</h3>
    <p class="head-text">We have a dedicated team of professionals ready to<br> provide the best services at an affordable rate.</p>
  </div>
  <div id="team-bio" class="row mt-3 container">
   <div class="col-md-3"><img src="/images/pexels-joshua-mcknight-3290250.jpg" class="img-fluid card-imgs" alt="..."></div>
   <div class="col-md-3"><img src="/images/pexels-cottonbro-6491249.jpg" class="img-fluid card-imgs" alt="..."></div>
   <div class="col-md-3"><img src="/images/pexels-ayaka-kato-2860903.jpg" class="img-fluid card-imgs" alt="..."></div>
   <div class="col-md-3 "><img src="/images/pexels-ralph-rabago-3214751.jpg" class="img-fluid card-imgs" alt="..."></div>
  </div>
</section>
 <section>
   <section id="testimonials">
    <div class="header-section d-flex flex-column text-center">
      <p class="head-paragraph">TESTIMONIALS</p>
      <h3 class="head-heading mb-5">What People Say</h3>
      
      <section class="spacer">
			
				<div class="testimonial-section">
					<div class="testi-user-img">
					<div class="swiper-container gallery-thumbs">
						  <div class="swiper-wrapper">
								  <div class="swiper-slide">
										<img class="u3" src="/images/test-one.jpg" alt="">
									</div>
						  <div class="swiper-slide">
							  <img class="u1" src="/images/test-two.jpg" alt="">
						  </div>
						  <div class="swiper-slide">
						  <img class="u2" src="/images/test-three.jpg" alt="">
						  </div>
					  
						  <div class="swiper-slide">
						  <img class="u4" src="/images/prince-akachi-J1OScm_uHUQ-unsplash.jpg" alt="">
						  </div>
						  
						  </div>
					  </div>
					</div>
					<div class="user-saying container">
						  <div class="swiper-container testimonial">
								  <!-- Additional required wrapper -->
								  <div class="swiper-wrapper ">
									  <!-- Slides -->
									  <div class="swiper-slide">
										  <div class="quote">
												  <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
											  <p>
													  “One of the best barbershop experiences I have ever had. The team at shaves and trims and polite professional and will have you looking your best in no time“
											  </p>
											  <div class="name">-John Mwaniki-</div>
											  <div class="designation">University Student</div>
											  
										  </div>
									  </div>
									  <div class="swiper-slide">
										  <div class="quote">
												<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
											
											  <p>
													  “Fantastic staff and high quality services and they have snacks for customers as well!!Definitely going back.“
											  </p>
											  <div class="name">-Alexis-</div>
											  <div class="designation">Business Man</div>
											  
										  </div>
									  </div>
									  <div class="swiper-slide">
										  <div class="quote">
												<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
												  
											  <p>
													  “Quick, fast and affordable. I have been to a lot of babershops but this one stands out as one of the best.“
											  </p>
											  <div class="name">Verma-</div>
											  <div class="designation">Lawyer</div>
											  
										  </div>
									  </div>
									  <div class="swiper-slide">
											  <div class="quote">
													<img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
												 
												  <p>
														  “Awesome experience at shaves and trimz.A special shout-out to the hair dresser Krisi who had me looking fab in no time.“
												  </p>
												  <div class="name">Kesha</div>
												  <div class="designation">Musician</div>
												  
											  </div>
										  </div>
									  
								  </div>
								  <!-- If we need pagination -->
								  <div class="swiper-pagination swiper-pagination-white"></div>
							  
							  </div>
					</div>
				</div>
			</section>

    </div>
   </section>
 </section>
 <%- include('./partials/footer.ejs') %>
 <script src="https://md-aqil.github.io/images/swiper.min.js"></script>
   <script src="/scripts/app.js"></script>
   <script src="js/bootstrap.min.js"></script>
   
</body>
</html>